h1 {
    font-size: 3rem;
    font-weight: bold;
  }
 
.event-details {
  .banner {
    position: relative;
    height: 300px;
    background-image: url('../../assets/BG-10.png');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center; 
    justify-content: center;

    .banner-title {
      color: white;
      font-size: 3rem;
      text-align: center;
    }
  }
}

.event-info {
  margin-top: 2rem;
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  .row {
    display: flex;
    flex-direction: column; 
    margin-bottom: 2rem;
    width: 100%; 

    &.meta-info {
      gap: 1rem;
      .meta-item {
        display: flex; 
        justify-content: space-between; 
        text-align: left;
        width: 100%; 
        span {
          font-weight: bold;
        }
      }
    }

    &.attendee-info {
      text-align: center;

      .download-btn {
        margin-top: 1rem;
        background-color: #007bff;
        color: white;
        border: none;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        cursor: pointer;
      }
    }

    &.ticket-info {
      text-align: center;

      h3 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
      }

      .ticket-types {
        display: flex;
        justify-content: center;
        gap: 2rem;

        .ticket-type {
          background-color: #f0f0f0;
          padding: 0.5rem 1rem;
          border-radius: 5px;
        }
      }
    }

    &.action-buttons {
      justify-content: center;
      gap: 2rem;

      .update-btn,
      .delete-btn {
        background-color: #000;
        color: white;
        border: none;
        padding: 0.75rem 1.5rem;
        font-size: 1rem;
        border-radius: 5px;
        cursor: pointer;
      }

      .delete-btn {
        background-color: #dc3545;
        text-decoration: none;
      }
    }
  }
}
